# Data
data/

# Logs & experiment notes
test_old/
test_new/

# Python
__pycache__/
*.pyc

# Checkpoints & outputs
checkpoints/
*.pt

#Preprocessed data
preprocessed_data/


PIPELINE.md
Phiếu_giao_nhiệm_vụ.xlsx


#Documents
docs/

CLAUDE.md
OPUS_PROMPT.md
output_reproduced.md
output_moxgate_5fold.md


2025 - GAIN-BRCA- a graph-based AI-net framework for breast cancer subtype classification using multiomics data.pdf
2025 - MOFNet- a deep learning framework for multiomics data fusion in cancer subtype classification.pdf
2025 - MoXGATE- Modality-Aware Cross-Attention for Multi-Omic Gastrointestinal Cancer Subtype Classification.pdf
moBRCA-net.pdf