# Logs & experiment notes
TestPhase/
*.md

# Python
__pycache__/
*.pyc

# Checkpoints & outputs
checkpoints/
*.pt

#Preprocessed data
config.py
final_process_omics.py
main_preprocess_omics.py
preprocess_CpG.py
preprocess_Gene.py
preprocess_miRNA.py
preprocess_labels.py
make_gene_symbol.py
PIPELINE.md